<article class="archive-article archive-type-<%= post.layout %>">
  <header class="archive-article-header">
    <div class="thumbnail archive-post">
      <img src="<%- post.featured_image %>" alt="featured_image">
      <div class="caption">
        <h3>
          <%- partial('post/title', {class_name: 'archive-article-title'}) %>
        </h3>
        <p>
          <%- post.excerpt %>
        </p>
<!--
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
-->
        <%- partial('post/date', {class_name: 'archive-article-date', date_format: 'MMMM Do'}) %>
      </div>
    </div>
  </header>
</article>
